* {background-color: lightblue;}

#my-name {
    text-align: center;
    font-size: 3em;
}

#navbar a {
    color: black;
    font-size: 1.5em;
    padding: 15px;
}

#section-1 {
    max-width: 1,200px;
}
#about-me {
    position: relative;
    left: 10px;
    top: 30px;
}

#about-me-p {
    padding: 10px;
    font-size: 1.5em;
}

#my-pic {
    float: left;
    position: relative;
    top: 10px;
    max-width: 15%;
    height: auto;
    padding: 8px;
    border: 8px solid black;
    margin: 8px;
}

#section-2 {
    float: left;
    position: relative;
    top: 20px;
}

#my-work {
    position: relative;
    left: 10px;
}

#section-2 p {
    font-size: 1.5em;
    position: relative;
    left: 10px;
}

#section-2 a img {
    float: left;
    position: relative;
    left: 10px;
    top: -15px;
    max-width: 30%;
    padding: 8px;
    border: 8px solid darkslateblue;
}